<h1 style='text-align: center'>All restaurants</h1>
<% @restaurants.each do |r| %>
<h3 style="margin-top: 5%; text-align: center"><%= link_to r.name, restaurant_path(r) %></h3>
<% end %>
<p style="margin-top: 5%; text-align: center"><%= link_to 'Create a new Restaurant',  new_restaurant_path,  class: "btn btn-primary"%></p>
